* {

  .black;
  
  .show-modal-content {
    display: block;
  }

  .active {
    background: linear-gradient(to bottom, #ee5e3f, #db4c38);
  }

  .active-page {
    background: @bg-element;
    transition: .5s;
  }
}



html {
  body {
    font-size: 1rem;
    background: linear-gradient(to top, #51665a, #a0bdac);
  }
}